<%#
 Copyright 2020-2024 sirpdboy Wich <sirpdboy@qq.com>
 https://github.com/sirpdboy/netspeedtest
 Licensed to the public under the Apache License 2.0.
-%>

<%+cbi/valueheader%>

<script type="text/javascript">//<![CDATA[

function speedtestportrun(btn) {

	var sid='speedtestport'
	var opt={
    		base:"cbid.netspeedtest."+sid,
    		get:function(opt){
    			var id=this.base+'.'+opt;
    			var obj=document.getElementsByName(id)[0] || document.getElementsByClassName(id)[0] || document.getElementById(id)
    			if (obj){
    				return obj;
    			}else{
    				return null;
    			}
    		},
    		getlist:function(opt){
    			var id=this.base+'.'+opt;
    			var objs=document.getElementsByName(id) || document.getElementsByClassName(id);
    			var ret=[];
    			if (objs){
    				for (var i=0;i < objs.length;i++){
    					ret[i]=objs[i].value;
    				}
    			}else{
    				alert("<%:Fatal on get option,please help in debug%>:"+opt);
	    		}
	    		return ret;
    		}
    }

    const RUN_URL = '<%=luci.dispatcher.build_url("admin", "network", "netspeedtest","test_port")%>';
    const S_URL = '<%=luci.dispatcher.build_url("admin", "network", "netspeedtest","speedtestport")%>';

	var output=document.getElementById("speedtestport-status");

	btn.value='<%:Waiting (executing)...%>';
	btn.disabled=true;
    var domain=opt.get("domain").value;
    var port=opt.get("port").value;
	var data = {
            domain: domain,
            port: port
        }
	
	console.log(data);
	XHR.get('<%=luci.dispatcher.build_url("admin/network/netspeedtest/test_port")%>',{

            domain: domain,
            port: port

			},
				(x,rv) =>{
				
					if(x && x.status == 200) {
					console.log(x);
					console.log(rv);
						  if (rv.ping == null || rv.ping.trim() == "") {
							       output.outerHTML = "<font style='color:red'><%:Test failed%></font>";
					  	   } 
						   else {
							var ping = parseInt(rv.ping);
							if (ping < 100)
								output.outerHTML = "<font style='color:green'><%:Test server port delay%> :" + ping + " ms</font>";
							else if (ping >= 100)
								output.outerHTML = "<font style='color:red'><%:Test server port delay%> :" + ping + " ms</font>";
						  }
						  setTimeout(function(){
			                 	window.location = S_URL
			             },800);
					}
				}
		);
        return false;
    }
		

//]]></script>

	   <label class="cbi-value-title"><%= translate("Test server port delay") %></label>
  	   <div class="cbi-value-field">
  	       <input type="button" class="btn cbi-button cbi-button-apply" value='<%:Perform port test%>' onclick="return speedtestportrun(this)" />
               <span id="speedtestport-status"></span>
 	   </div>
<%+cbi/valuefooter%>
